.modalx {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalx-content {
  background: white;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .modalx-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .modalx-content {
    width: 95%;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.closex {
  color: red;
  float: right;
  font-size: 36px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #F00;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

.closex:hover,
.closex:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalx-header {
  padding: 2px 16px;
  color: rgb(0, 0, 0);
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}

.modalx-body {
  padding: 4px 4px;
  width: auto;
}

.modalx-footer {
  padding: 2px 16px;
  background-color: #333333;
  color: white;
}

.LDimage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.LDimage-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Starimage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.Starimage-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.webcam-container {
  display: flex;
  align-items: center;
}

        #webcam {
            width: 480px;
            height: 360px;
            border: 1px solid black;
        }

        #output_canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        #gesture_output {
            display: none;
            position: absolute;
            bottom: 100px;
            left: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px;
            font-size: 18px;
        }
